//
//  AdjustConfigWork.swift
//  {{PRODUCT_NAME}}
//
//  来源: bible-ios-template / 2026-04-15
//  Work Chain 第 2 步 (TS-022)
//

import Foundation
import BCUtils
import BCAdjust

class AdjustConfigWork: WorkVoidCallbackTask {
    func work(_ callback: @escaping VoidCallback) {
        BCAdjust.appDidLaunch(logEnable: false)
        callback()
    }
}
