//
//  DebugToolsConfigWork.swift
//  {{PRODUCT_NAME}}
//
//  来源: bible-ios-template / 2026-04-15
//  Work Chain 第 3 步 (TS-022)
//  注意：bible-app 已关闭 Debugger（避免 iOS 26 浮窗 + FPS 指标），需要调试时取消注释
//

import Foundation
import BCUtils
import BCDebuggerExtension
import BCSensor
import CTMediator

class DebugToolsConfigWork: WorkVoidCallbackTask {
    func work(_ callback: @escaping VoidCallback) {
        // BCTrack.registerDebugger()
        // CT().Debugger_Start()
        callback()
    }
}
