//
//  LegalPromptWork.swift
//  {{PRODUCT_NAME}}
//
//  来源: bible-ios-template / 2026-04-15
//  Work Chain 第 4 步 (TS-022)
//

import Foundation
import BCUtils
import LegalPrompt
import SwiftUI

class LegalPromptWork: WorkVoidCallbackTask {
    func work(_ callback: @escaping VoidCallback) {
        let theme: LegalPromptTheme = .init(
            contentView: SplashPlaceholderContent(title: nil).bc_anyView,
            backgroundColor: .white,
            buttonBgColor: .main,
            buttonTitleColor: .white,
            buttonTitleFont: .semibold(18.fx),
            privacyFont: .regular(12.fx),
            privacyColor: .bc_color(0x000000, opacity: 0.35),
            privacyHilightFont: .semibold(12.fx),
            privacyHilightColor: .bc_color(0x000000, opacity: 0.6)
        )
        LegalPrompt.open(BCConsts.appName, theme: theme, completion: callback)
    }
}
