//
//  WelcomeWork.swift
//  {{PRODUCT_NAME}}
//
//  来源: bible-ios-template / 2026-04-15
//  Work Chain 第 10 步 (TS-022 / TS-025 / TS-027)
//
//  关键：ObjC runtime 加载 Welcome_{{MEMO}}ViewController
//  要求子类必须 @objc(Welcome_XXViewController) 注解
//

import UIKit
import BCUtils
import BCCache
import BCSensor
import AppGroupCore
import Welcome
import BCAppReviewPrompt

class WelcomeWork: WorkVoidCallbackTask {
    let hasShowCacheKey: String = "WelcomeHasShownCacheKey"
    private var isCompleted: Bool {
        set { BCCache.setBool(newValue, key: hasShowCacheKey) }
        get { BCCache.boolValue(key: hasShowCacheKey) ?? false }
    }

    func work(_ callback: @escaping VoidCallback) {
        if isCompleted { callback(); return }
        showWelcome(completion: callback)
    }

    private func showWelcome(completion: @escaping VoidCallback) {
        let welcomeVC = createWelcom { [weak self] sender in
            sender.removeFromParent()
            sender.view.removeFromSuperview()
            self?.isCompleted = true
            completion()
        }
        guard let welcomeVC else { completion(); return }
        let topVC = UIViewController.welcomeTopVC
        topVC.bc_addChildViewController(welcomeVC, to: topVC.view)
    }

    private func createWelcom(completion: @escaping (UIViewController) -> Void) -> WelcomeViewController? {
        let memo = BCABTest.shared.syncFetchWecome()
        if let vc = createWelcome(with: memo, completion: completion) { return vc }
        if let memo = ABTestType.welcome.defaultValue.stringValue {
            return createWelcome(with: memo, completion: completion)
        }
        return nil
    }

    private func createWelcome(with memo: String,
                               completion: @escaping (UIViewController) -> Void) -> WelcomeViewController? {
        let className = "Welcome_\(memo)ViewController"
        guard let cls = NSClassFromString(className) as? WelcomeViewController.Type else { return nil }
        return cls.init(delegate: self, memo: memo, completion: completion)
    }
}

extension WelcomeWork: WelcomeDelegate {
    func seekGoodReview() {
        BCAppReviewPrompt.tryToSystemScore(onboarding: true, "welcome")
    }
}

extension UIViewController {
    static var welcomeTopVC: UIViewController {
        var controller = UIViewController.bc_top
        if let tabbarcontroller = TabBarController.tabBarController { controller = tabbarcontroller }
        return controller
    }
}
